---
layout: default
title: Hack and Tell London
---

<div id="home">
  <div id="links">
    <h1>Upcoming Meetup: Check the <a href="http://www.meetup.com/London-Hack-and-Tell/">meetup site</a>!</h1>

    <a href="http://www.meetup.com/London-Hack-and-Tell/"
       class="button red">
      MeetUp Link
    </a>

    <!-- old hackpad: https://hackpad.com/sHmljSNxt0U -->
    <a href="https://docs.google.com/document/d/1DM_qVHEGPNP-UzSGKNlee8lmroNqap4Fg4RgERxxTiY/edit"
       class="button green">
      Live Notes
    </a>

    <a href="https://twitter.com/hackandtellnd"
       class="button orange">
      Twitter
    </a>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3JRMlgL98brqcgdHHzyOvrylR5fG0m2JLPBOyCFZ7nlaoUQ/viewform"
       class="button blue">
      Sign Up to Speak
    </a>

  </div>

  <h1>Previous Meetup Write Ups</h1>
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date_to_string }}</span>
      &raquo;
      {% if post.status == "canceled" %}
      <i>{{post.title}}</i>
      {% elsif post.status == "notext" %}
      {{post.title}}
      {% else %}
      <a href="{{ post.url }}">{{post.title}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
